<div fxLayout="column" fxLayoutAlign="center center" style="height: 80vh;direction: ltr;">
    <div fxLayout="column" fxLayoutAlign="start center" class="container">
        <div >
            <mat-icon style="font-size: 50px; margin-right: 25px;">restore</mat-icon>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" style="color: red;">
            
        </div>
        <br/>
        <form [formGroup]="form" (ngSubmit)="reset()">
            <div>
                <mat-form-field style="text-align: left">
                    <mat-label>نام کاربری (E-Mail)</mat-label>
                    <input type="text"  matInput placeholder="مثال sample@gmail.com"  formControlName="username" autocomplete="off" autofocus email>
                </mat-form-field>
            </div>

            <br/>
            <div>
                <button class="button" type="submit" mat-button>بازیابی رمز عبور</button>
            </div>

        </form>

    </div>
</div>